<div class="container center white">
    <h1>Ted Blog Scraper</h1>
    <h4>Ted Blog Scraper's Source -> <a href="https://blog.ted.com/" target="_blank" class="black-text">Ted Blog</a>.</h4>
    <a href="/scrape" class="btn red">Clip<i class="material-icons left">content_cut</i></a>
</div>